<div class="container">
    <h1 style="text-align: center;"><u> Angular Calculator</u></h1>
    <div class="output"><input id="input" #input (keyup.enter)="calcValue(input.value)" placeholder="0" [(ngModel)]="Answer"></div>
    <hr>
    <div class="calcGrid">
        <button class="btn1" (click)="num($event)" value="7">7</button>
        <button class="btn1" (click)="num($event)" value="8">8</button>
        <button class="btn1" (click)="num($event)" value="9">9</button>
        <button class="btn1" (click)="refresh()">C</button>
        <button class="btn1" (click)="num($event)" value="4">4</button>
        <button class="btn1" (click)="num($event)" value="5">5</button>
        <button class="btn1" (click)="num($event)" value="6">6</button>
        <button class="btn1" (click)="num($event)" value="/">/</button>
        <button class="btn1" (click)="num($event)" value="1">1</button>
        <button class="btn1" (click)="num($event)" value="2">2</button>
        <button class="btn1" (click)="num($event)" value="3">3</button>
        <button class="btn1" (click)="num($event)" value="*">*</button>
        <button class="btn1" (click)="num($event)" value="0">0</button>
        <button class="btn1" (click)="num($event)" value=".">.</button>
        <button class="btn1" (click)="num($event)" value="-">-</button>
        <button class="btn1" (click)="num($event)" value="+">+</button>
        <button class="btn1" id="equal" (click)="equal()">=</button>
    </div>
</div>